<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetpassword</title>
</head>
<body>
<form action="resetpassword" method="post">
    {% csrf_token %}
    <div>
    <h1>enter your email</h1>

    <label for="email">Enter email</label>
    <input type="email" placeholder="email" name="email" id="email">
    </div>
    <br>
    <div>
    <label for="new">New Password</label>
    <input type="password" placeholder="email" name="new_password" id="new">
    </div>
    <br>
     <div>
    <label for="otp">OTP</label>
    <input type="text" placeholder="email" name="otp" id="otp">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">sumbit</button>
</form>
</body>
</html>